<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			background: #3f8f56;
		}

		header {
			display: flex;
			align-items: center;
			padding: 15px;
			justify-content: space-around;
			font-family: sans-serif;
			background: rgb(31, 31, 31);
			color: #fff;
			height: 70px;
		}

		#menu {
			display: flex;
			list-style: none;
			gap: 2rem;
		}

		#menu a {
			color: #fff;
			text-decoration: none;
		}

		#menu a:hover {
			text-decoration: underline;
		}

		h1 {
			text-align: center;
			margin-top: 50px;
			text-transform: uppercase;
		}

		p {
			text-align: center;
			margin-top: 50px;
			font-size: 35px;
		}

	</style>
</head>
<body>

	<header>
		<div class="logo">
			<h2>Logo</h2>
		</div><!-- logo -->
		<nav>
			<ul id="menu">
				<li><a href="/">Home</a></li>
				<li><a href="./form">Postar Conteúdo</a></li>
				<li><a href="./posts">Ver Posts</a></li>
			</ul><!-- menu -->
		</nav>

	</header><!-- header -->

	<div class="message">

		<h1>Seja bem-vindo ao app de postagem</h1>

	</div>

	<footer>

		<address>
			<p>Feito por Anderson Piedade</p>
		</address>

	</footer>

	
	
</body>
</html>